/* Ensure Mapbox styles are loaded first */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* Custom print styles */
@media print {
  body * {
    visibility: hidden;
  }

  .print-only-content,
  .print-only-content * {
    visibility: visible;
  }

  .print-only-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}